{
    "openapi": "3.0.1",
    "info": {
        "title": "Juice Core Uplink API",
        "description": "An API to JUICE CORE uplink subsystem.",
        "contact": {
            "name": "JUICE Science Operations Centre",
            "email": "juice_soc@sciops.esa.int"
        },
        "license": {
            "name": "BSD License"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://juicesoc.esac.esa.int/"
        }
    ],
    "security": [
        {
            "JWT": []
        }
    ],
    "paths": {
        "/api-token-auth/": {
            "post": {
                "tags": [
                    "api-token-auth"
                ],
                "summary": "API View that receives a POST with a user's username and password.",
                "description": "Returns a JSON Web Token that can be used for authenticated requests.",
                "operationId": "post_api_token_auth",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JSONWebToken"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JSONWebToken"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/api-token-refresh/": {
            "post": {
                "tags": [
                    "api-token-refresh"
                ],
                "summary": "API View that returns a refreshed token (with new expiration) based on\nexisting token",
                "description": "If 'orig_iat' field (original issued-at-time) is found, will first check\nif it's within expiration window, then copy it to the new token",
                "operationId": "post_api_token_refresh",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefreshJSONWebToken"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefreshJSONWebToken"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/rest_api/checks/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the consistency checks to be performed",
                "operationId": "get_checks",
                "responses": {
                    "200": {
                        "description": "Consistency checks list",
                        "content": {}
                    }
                }
            }
        },
        "/rest_api/checks/{working_group_mnemonic}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Checks the segment definition completeness of working group",
                "description": "Checks the segment definition completeness of working group",
                "operationId": "get_checks_by_working_group_mnemonic",
                "responses": {
                    "404": {
                        "description": "Error checking the completeness",
                        "content": {}
                    },
                    "200": {
                        "description": "List of segment definitions not valid",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "working_group_mnemonic",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/checks/{working_group_mnemonic}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Checks the segment definition completeness of working group",
                "description": "Checks the segment definition completeness of working group",
                "operationId": "get_checks_by_working_group_mnemonic_and_format",
                "responses": {
                    "404": {
                        "description": "Error checking the completeness",
                        "content": {}
                    },
                    "200": {
                        "description": "List of segment definitions not valid",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "working_group_mnemonic",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/checks{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the consistency checks to be performed",
                "operationId": "get_checks_by_format",
                "responses": {
                    "200": {
                        "description": "Consistency checks list",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/config/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the auxiliary configuration data",
                "operationId": "get_config",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Configuration"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/config{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the auxiliary configuration data",
                "operationId": "get_config_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Configuration"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/detailed_scenario/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the list of detailed scenarios",
                "description": "List the PUBLIC plans available in the system",
                "operationId": "get_detailed_scenario",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedScenarioList"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Adds a new detailed scenario",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_detailed_scenario",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetailedScenario"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedScenario"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/rest_api/detailed_scenario/{id}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a detailed scenario",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "get_detailed_scenario_by_id",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedScenario"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized",
                        "content": {}
                    },
                    "404": {
                        "description": "Detailed scenario not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/detailed_scenario/{id}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a detailed scenario",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "get_detailed_scenario_by_id_and_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedScenario"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized",
                        "content": {}
                    },
                    "404": {
                        "description": "Detailed scenario not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/detailed_scenario{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the list of detailed scenarios",
                "description": "List the PUBLIC plans available in the system",
                "operationId": "get_detailed_scenario_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedScenarioList"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Adds a new detailed scenario",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_detailed_scenario_by_format",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetailedScenario"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedScenario"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/eps_package/": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a EPS package for a plan",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_eps_package",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Zip file with the eps package",
                        "content": {}
                    },
                    "401": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/rest_api/eps_package{format}": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a EPS package for a plan",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_eps_package_by_format",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Zip file with the eps package",
                        "content": {}
                    },
                    "401": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/events/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the geometry events of a trajectory",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* trajectory: the name of the trajectory\n* mnemonics: a list of the names of the events mnemonics",
                "operationId": "get_events",
                "responses": {
                    "400": {
                        "description": "body parameter not parseable or not present",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "body",
                    "in": "query",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/events{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the geometry events of a trajectory",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* trajectory: the name of the trajectory\n* mnemonics: a list of the names of the events mnemonics",
                "operationId": "get_events_by_format",
                "responses": {
                    "400": {
                        "description": "body parameter not parseable or not present",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/fdyn_event/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the geometry events of a trajectory",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* trajectory: the name of the trajectory\n* mnemonics: a list of the names of the events mnemonics",
                "operationId": "get_fdyn_event",
                "responses": {
                    "400": {
                        "description": "body parameter not parseable or not present",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FdynEvent"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/fdyn_event_definition/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the flight dynamics events definitions",
                "description": "List all the flight dynamics event definitions",
                "operationId": "get_fdyn_event_definition",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FdynEventDefinition"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/fdyn_event_definition{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the flight dynamics events definitions",
                "description": "List all the flight dynamics event definitions",
                "operationId": "get_fdyn_event_definition_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FdynEventDefinition"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/fdyn_event_file/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the EVTC file active",
                "description": "Retrieve the EVTC file active",
                "operationId": "get_fdyn_event_file",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FdynEventFile"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/fdyn_event_file{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the EVTC file active",
                "description": "Retrieve the EVTC file active",
                "operationId": "get_fdyn_event_file_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FdynEventFile"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/fdyn_event{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the geometry events of a trajectory",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* trajectory: the name of the trajectory\n* mnemonics: a list of the names of the events mnemonics",
                "operationId": "get_fdyn_event_by_format",
                "responses": {
                    "400": {
                        "description": "body parameter not parseable or not present",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FdynEvent"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/file/{filename}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a file from SHT storage",
                "description": "Get a file saved in the SHT storage",
                "operationId": "get_file_by_filename",
                "responses": {
                    "400": {
                        "description": "The file requested is not available",
                        "content": {}
                    },
                    "200": {
                        "description": "TextFile",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "filename",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/file/{filename}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a file from SHT storage",
                "description": "Get a file saved in the SHT storage",
                "operationId": "get_file_by_filename_and_format",
                "responses": {
                    "400": {
                        "description": "The file requested is not available",
                        "content": {}
                    },
                    "200": {
                        "description": "TextFile",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "filename",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/git/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the hierarchy contents for Cruise Phase GIT",
                "description": "Get the hierarchy contents for Cruise Phase GIT",
                "operationId": "get_git",
                "responses": {
                    "400": {
                        "description": "The git is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "Hierarchy",
                        "content": {}
                    }
                }
            }
        },
        "/rest_api/git/branches": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the branches available for Cruise Phase GIT",
                "description": "Get the branches available for Cruise Phase GIT",
                "operationId": "get_git_branches",
                "responses": {
                    "400": {
                        "description": "The git is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "List of branches",
                        "content": {}
                    }
                }
            }
        },
        "/rest_api/git/branches{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the branches available for Cruise Phase GIT",
                "description": "Get the branches available for Cruise Phase GIT",
                "operationId": "get_git_branches_by_format",
                "responses": {
                    "400": {
                        "description": "The git is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "List of branches",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/git/{branch}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the hierarchy contents for Cruise Phase GIT",
                "description": "Get the hierarchy contents for Cruise Phase GIT",
                "operationId": "get_git_by_branch",
                "responses": {
                    "400": {
                        "description": "The git is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "Hierarchy",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "branch",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/git/{branch}/{hexsha}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the hierarchy contents for Cruise Phase git",
                "description": "Get the hierarchy contents for Cruise Phase git",
                "operationId": "get_git_by_branch_and_hexsha",
                "responses": {
                    "400": {
                        "description": "Git repository is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "Hierarchy",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "branch",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "hexsha",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/git/{branch}/{hexsha}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the hierarchy contents for Cruise Phase git",
                "description": "Get the hierarchy contents for Cruise Phase git",
                "operationId": "get_git_by_branch_and_hexsha_and_format",
                "responses": {
                    "400": {
                        "description": "Git repository is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "Hierarchy",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "branch",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "hexsha",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/git/{branch}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the hierarchy contents for Cruise Phase GIT",
                "description": "Get the hierarchy contents for Cruise Phase GIT",
                "operationId": "get_git_by_branch_and_format",
                "responses": {
                    "400": {
                        "description": "The git is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "Hierarchy",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "branch",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/git{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Get the hierarchy contents for Cruise Phase GIT",
                "description": "Get the hierarchy contents for Cruise Phase GIT",
                "operationId": "get_git_by_format",
                "responses": {
                    "400": {
                        "description": "The git is not available",
                        "content": {}
                    },
                    "401": {
                        "description": "Not authenticated",
                        "content": {}
                    },
                    "200": {
                        "description": "Hierarchy",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/mode/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the list of modes",
                "description": "Get the list of modes",
                "operationId": "get_mode",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/mode{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the list of modes",
                "description": "Get the list of modes",
                "operationId": "get_mode_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/observation_definition/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the observation definition identified by the mnemonic",
                "description": "Get the list of observation definitions available in the system",
                "operationId": "get_observation_definition",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObservationDefinition"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/observation_definition/{mnemonic}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the observation definition identified by the mnemonic",
                "description": "Get the observation definition details",
                "operationId": "get_observation_definition_by_mnemonic",
                "responses": {
                    "404": {
                        "description": "Observation Definition not found",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObservationDefinitionExtend"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "mnemonic",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/observation_definition/{mnemonic}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the observation definition identified by the mnemonic",
                "description": "Get the observation definition details",
                "operationId": "get_observation_definition_by_mnemonic_and_format",
                "responses": {
                    "404": {
                        "description": "Observation Definition not found",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObservationDefinitionExtend"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "mnemonic",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/observation_definition{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the observation definition identified by the mnemonic",
                "description": "Get the list of observation definitions available in the system",
                "operationId": "get_observation_definition_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObservationDefinition"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/pcw/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the Payload Checkout Window list",
                "description": "List all Payload Checkout Windows",
                "operationId": "get_pcw",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PayloadCheckoutWindow"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/pcw/units/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the Payload Checkout unit list",
                "description": "List all Payload Checkout units",
                "operationId": "get_pcw_units",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PayloadCheckoutUnit"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rest_api/pcw/units{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the Payload Checkout unit list",
                "description": "List all Payload Checkout units",
                "operationId": "get_pcw_units_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PayloadCheckoutUnit"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/pcw/{mnemonic}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the payload checkout window identified by the mnemonic",
                "description": "Get the Payload Checkout Window details",
                "operationId": "get_pcw_by_mnemonic",
                "responses": {
                    "404": {
                        "description": "Payload checkout window  not found",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PayloadCheckoutWindow"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "mnemonic",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/pcw/{mnemonic}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the payload checkout window identified by the mnemonic",
                "description": "Get the Payload Checkout Window details",
                "operationId": "get_pcw_by_mnemonic_and_format",
                "responses": {
                    "404": {
                        "description": "Payload checkout window  not found",
                        "content": {}
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PayloadCheckoutWindow"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "mnemonic",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/pcw{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the Payload Checkout Window list",
                "description": "List all Payload Checkout Windows",
                "operationId": "get_pcw_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PayloadCheckoutWindow"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the list of available PUBLIC plans",
                "description": "List the PUBLIC plans available in the system",
                "operationId": "get_plan",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PlanList"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Adds a new plan",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/rest_api/plan/{id}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "get_plan_by_id",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReadOnlyPlan"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "put": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Update a plan",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "put_plan_by_id",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "delete": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Delete a plan",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "delete_plan_by_id",
                "responses": {
                    "204": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan Not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan/{id}/ptr": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan PTR",
                "description": "Retrieve a PTR correspondig to a plan.",
                "operationId": "get_plan_ptr_by_id",
                "parameters": [
                    {
                        "name": "content",
                        "in": "query",
                        "description": "if \"link\" returns a JSON with the file link.if \"xml\" returns the file XML content.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "XML content or ptr link",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan/{id}/ptr{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan PTR",
                "description": "Retrieve a PTR correspondig to a plan.",
                "operationId": "get_plan_ptr_by_id_and_format",
                "parameters": [
                    {
                        "name": "content",
                        "in": "query",
                        "description": "if \"link\" returns a JSON with the file link.if \"xml\" returns the file XML content.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "XML content or ptr link",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan/{id}/stats": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Calculates time statistics of a plan.",
                "description": "Retrieves statistics for a plan.",
                "operationId": "get_plan_stats_by_id",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanStats"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan/{id}/stats{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Calculates time statistics of a plan.",
                "description": "Retrieves statistics for a plan.",
                "operationId": "get_plan_stats_by_id_and_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanStats"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan/{id}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "get_plan_by_id_and_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReadOnlyPlan"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "put": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Update a plan",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "put_plan_by_id_and_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "delete": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Delete a plan",
                "description": "Retrieve, update or delete a segmentation instance.",
                "operationId": "delete_plan_by_id_and_format",
                "responses": {
                    "204": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan Not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_ptr/": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a JSON file with the pointing information filled",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan_ptr",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "JSON file with the pointing information filled",
                        "content": {}
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/rest_api/plan_ptr_skeleton/": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a XML PTR file with the pointing information filled",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan_ptr_skeleton",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "XML PTR file with the pointing information filled",
                        "content": {}
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/rest_api/plan_ptr_skeleton{format}": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a XML PTR file with the pointing information filled",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan_ptr_skeleton_by_format",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "XML PTR file with the pointing information filled",
                        "content": {}
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_ptr_xml/": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a XML PTR file with the pointing information filled",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan_ptr_xml",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "XML PTR file with the pointing information filled",
                        "content": {}
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            }
        },
        "/rest_api/plan_ptr_xml{format}": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a XML PTR file with the pointing information filled",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan_ptr_xml_by_format",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "XML PTR file with the pointing information filled",
                        "content": {}
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_ptr{format}": {
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Generates a JSON file with the pointing information filled",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan_ptr_by_format",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "JSON file with the pointing information filled",
                        "content": {}
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/groups/{id}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the groups information of a timeline",
                "description": "Returns the segment group information providing the segments belonging to a given segment group,\ntheir duration and the resources associated to the group",
                "operationId": "get_plan_simphony_groups_by_id",
                "responses": {
                    "200": {
                        "description": "Simphony Plan Serializer of groups",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/groups/{id}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the groups information of a timeline",
                "description": "Returns the segment group information providing the segments belonging to a given segment group,\ntheir duration and the resources associated to the group",
                "operationId": "get_plan_simphony_groups_by_id_and_format",
                "responses": {
                    "200": {
                        "description": "Simphony Plan Serializer of groups",
                        "content": {}
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/opps/{id}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan timeline for Simphony subsystem",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* mode: \"strict\" | \"open\" optional: \"open\" Includes the segments partially included in the period",
                "operationId": "get_plan_simphony_opps_by_id",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "strict",
                                "open"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimphonyPlanSwagger"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/opps/{id}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan timeline for Simphony subsystem",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* mode: \"strict\" | \"open\" optional: \"open\" Includes the segments partially included in the period",
                "operationId": "get_plan_simphony_opps_by_id_and_format",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "strict",
                                "open"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimphonyPlanSwagger"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/timeline/{id}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan timeline for Simphony subsystem",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* mode: \"strict\" | \"open\" optional: \"open\" Includes the segments partially included in the period",
                "operationId": "get_plan_simphony_timeline_by_id",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "strict",
                                "open"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimphonyPlanSwagger"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/timeline/{id}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan timeline for Simphony subsystem",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* mode: \"strict\" | \"open\" optional: \"open\" Includes the segments partially included in the period",
                "operationId": "get_plan_simphony_timeline_by_id_and_format",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "strict",
                                "open"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimphonyPlanSwagger"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/{id}/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan timeline for Simphony subsystem",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* mode: \"strict\" | \"open\" optional: \"open\" Includes the segments partially included in the period",
                "operationId": "get_plan_simphony_by_id",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "strict",
                                "open"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimphonyPlanSwagger"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan_simphony/{id}{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve a plan timeline for Simphony subsystem",
                "description": "Restricts the returned queries by filtering against a **body** query parameter in the URL.\nThe **body** expected value is the JSON string corresponding to the following structure:\n* start: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* end: the date formatted as ISO8601 in UTC scale (2030-07-05T01:44:47Z)\n* mode: \"strict\" | \"open\" optional: \"open\" Includes the segments partially included in the period",
                "operationId": "get_plan_simphony_by_id_and_format",
                "parameters": [
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "minLength": 1,
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "strict",
                                "open"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimphonyPlanSwagger"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Plan not found",
                        "content": {}
                    }
                }
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plan{format}": {
            "get": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Retrieve the list of available PUBLIC plans",
                "description": "List the PUBLIC plans available in the system",
                "operationId": "get_plan_by_format",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PlanList"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "rest_api"
                ],
                "summary": "Adds a new plan",
                "description": "Adds a new plan to the trajectory",
                "operationId": "post_plan_by_format",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Plan"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad request",
                        "content": {}
                    }
                },
                "x-codegen-request-body-name": "data"
            },
            "parameters": [
                {
                    "name": "format",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/rest_api/plnview_file/": {
            "get": {
                "tags": [
                    "rest_api"
                ],
[...]
